---
import TinaMarkdown from "@tinacms/astro/TinaMarkdown.astro";
import { tinaField } from "@tinacms/astro/tina-field";

interface Props {
  data?: any;
}

const { data } = Astro.props;
---

{data && (
  <>
    <h1 data-tina-field={tinaField(data, "title")}>{data.title}</h1>
    <p class="mid-gray lh-title mb2" data-tina-field={tinaField(data, "date")}>
      {new Date(data.date).toLocaleDateString("en-US", {
        weekday: "short",
        month: "short",
        day: "numeric",
        year: "numeric",
      })}
    </p>
    {data.description && (
      <p data-tina-field={tinaField(data, "description")}>{data.description}</p>
    )}
    {data.body && (
      <div data-tina-field={tinaField(data, "body")}>
        <TinaMarkdown content={data.body} />
      </div>
    )}
  </>
)}
