---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { getEntry } from "astro:content";

const tech = await getEntry("page", "tech");
const { Content } = await tech.render();
---

<BaseLayout title="tech">
  <Nav slot="nav" />
  <main slot="main">
    <div class="mw6 center ph3 pv4 cms">
      <Content />
    </div>
  </main>
  <Footer slot="footer" />
</BaseLayout>
